.sec_one {
  position: relative;
}
.slide_outer {
  position: relative;
}
.slide_image {
  position: relative;
}
.slide_image_top {
  background-image: url("/img/common/bg-one.png");
  width: 99.1vw;
  height: 100vh;
  position: absolute;
  top: 0;
  opacity: 0.13;
}
.slide_image img {
  width: 99.1vw;
  height: 100vh;
  object-fit: cover;
}
.slide_top {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.slide_out {
  margin-left: 92px;
}
.slide_top h3 {
  font-family: "blacker_sans_display_trialBd";
  text-align: left;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -2px;
  color: #fff;
  max-width: 455px;
  margin-bottom: 17px;
}
.slide_top p {
  font-family: "proxima_novaregular";
  color: #fff;
  text-align: left;
  max-width: 535px;
  font-size: 16px;
  word-spacing: -2px;
  line-height: 23px;
}
.slide_top button {
  font-family: "proxima_novaregular";
  font-size: 12.5px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  float: left;
  margin-top: 50px;
  padding: 23.5px 47px 19px;
  border-radius: 35px;
  background-color: transparent;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.slide_top button:hover {
  color: #000;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition: all 0.7s ease-out 0s;
}
.slide_top button .b {
  display: none;
}
.slide_top button:hover .b {
  display: block;
}
.slide_top button:hover .w {
  display: none;
}
.slide_top button span {
  margin-right: 34px;
}
.scroll {
  transform: rotate(270deg);
  transform-origin: right top 0;
  width: auto;
  display: inline-block;
  z-index: 8;
  position: absolute;
  bottom: 165px;
  right: 42px;
  color: #000;
  opacity: 0.5;
}
.scroll hr {
  border: 1px solid #f1f1f1;
  width: 174px;
  position: absolute;
  left: -202px;
  top: 7px;
}

@media only screen and (max-width: 768px) {
  .slide_out {
    margin-left: 0px;
    padding: 0 15px;
  }
  .slide_top h3 {
    font-size: 50px;
    line-height: 50px;
  }
}
